name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v2
    - name: Set up .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: |
        cd mzLib
        dotnet restore
    - name: Build
      run: |
        cd mzLib &&
        dotnet build --no-restore &&
        dotnet build --no-restore ./Test/Test.csproj &&
        dotnet build --no-restore ./TestFlashLFQ/TestFlashLFQ.csproj
    - name: Add coverlet collector
      run: |
        cd mzLib &&
        dotnet add Test/Test.csproj package coverlet.collector &&
        dotnet add TestFlashLFQ/TestFlashLFQ.csproj package coverlet.collector
    - name: Test
      run: |
        cd mzLib &&
        dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage" /p:CoverletOutputFormat=cobertura ./Test/Test.csproj &&
        dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage" /p:CoverletOutputFormat=cobertura ./TestFlashLFQ/TestFlashLFQ.csproj
    - name: Codecov
      uses: codecov/codecov-action@v2
      with:
        verbose: true
        files: mzLib/Test*/TestResults/*/coverage.cobertura.xml
